@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-primary-50: #f0f4f9;
  --color-primary-100: #e1e9f4;
  --color-primary-500: #345995;
  --color-primary-600: #2b4c82;
  --color-primary-700: #233d6a;
  --color-primary-800: #1b2f51;
  --color-primary-900: #13213a;

  --color-secondary-50: #fbfaf8;
  --color-secondary-100: #f6f4f0;
  --color-secondary-200: #ebe6df;
  --color-secondary-500: #d1c1a5;
  --color-secondary-600: #c1b092;
  --color-secondary-700: #a8987b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
